body {
    background-color: black;
}

.heading {
    color: white;
    display: flex;
    flex-direction: row;
}

.passkey-scrn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px; 
}