@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@0,100;1,300&family=Space+Mono&display=swap');

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.heading {
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 300px;
  height: 40px;
  /* Other input box styles */
}

#submitButton {
  margin-top: 10px;
  /* Other button styles */
}


.box {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.box:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.box::placeholder {
  color: #999;
}

.box::-webkit-input-placeholder {
  color: #999;
}

.box::-moz-placeholder {
  color: #999;
}

.box:-ms-input-placeholder {
  color: #999;
}


