@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@0,100;1,300&family=Space+Mono&display=swap');

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.Ahahaha {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
