@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@0,100;1,300&family=Space+Mono&display=swap');

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.sheesh {
  color: white; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Ahahaha {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
}
